@charset "utf-8";
*{box-sizing: border-box; color:#222}
h1{font-size:60px}
h2{font-size:36px;}
h3{font-size: 18px;}
p{font-size:18px; color: #666; line-height: 1.3;}
.row{max-width: 1140px; padding:0 15px; margin: 0 auto; position: relative;}
.title{text-align: center;}
#header{border-bottom:1px solid#eaeaea; height:71px;}
#header .logo{display: inline-block;}
#header .logo img{max-height: 30px;}
#header .row{height:100%}
#nav{float:right; height:100%}
#nav::after{content: ''; clear: both; display: block;}
.depth1{display: flex; width:500px; justify-content: space-between;}
.depth1 > li{font-size: 14px; color:#666; height:100%; line-height: 70px;}
.depth1 .webify{font-weight: bold; border:1px solid #eaeaea; line-height: 1; padding:12px 25px; margin-top:14px}
.depth2{position: fixed; width:1140px; top:65px; left:50%; transform:translate(-50%, 0) ; z-index: 10; display: inline-flex;justify-content:space-between; line-height: 1.5; border:1px solid #eaeaea; background:#fff;opacity: 0; transition: 0.3s ease-out; visibility: hidden;}
.depth2.on{opacity: 1; visibility: visible;}
.depth2 > li{font-size:13px; padding:10px 0; width:25%; border-right:1px solid #eaeaea;}
.depth2 > li:last-child{border:none}
.depth2 > li > a {padding:10px 20px; display: inline-block; font-weight: bold;}
.depth3 > li{padding:10px 20px; color:#666; width:100%;}

#section{margin-bottom:500px; z-index: 2; background: #fff;}
.main{height:800px; display: flex; align-items: center;}
.main ul{display: flex; justify-content: space-between;}
.main ul li{width:48%}
.main ul li:first-child>a{display: inline-block; padding:12px 36px; background: #62B0E2; color:#fff; font-weight: bold; border-radius: 5px;}
.main .row img{border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%; animation: borderAnimation 4s linear infinite;}

.intro .row > ul{display: flex; justify-content: space-around;}
.intro .row > ul > li{width:46%}
.intro .row > ul > li > img{border-radius: 15px;}
.intro .tabbar > li{position: relative; border-top:1px solid #eaeaea}
.intro .tabbar > li:last-child{border-bottom: 1px solid #eaeaea}
.intro .tabbar > li > i{position: absolute; top:19px; right:10px; color:#b5b5b5; font-size: 10px; transition: 0.3s all}
.intro .tabbar > li > p{font-size: 14px; height:0px; overflow: hidden; transition: 0.5s all; visibility: hidden;}
.intro .tabbar > li.active > p{height:50px; padding-bottom: 14px; visibility: visible;}
.intro .tabbar > li > h3{ padding: 15px 0;}
.intro .tabbar > li.active > i {transform: rotate(180deg);}

.video{background: url(../img/colors-1.jpg) center; background-size: cover; background-attachment: fixed;
position: relative; height:571px; display: flex; align-items: center;}
.video::after{background: #000; opacity: 0.83; content: ''; display: block; position: absolute; top:0; right:0;left:0;bottom:0; z-index: 0;}
.video .row{z-index:2; position: relative;}
.video .title {text-align: left;}
.video .title h2{color:#fff}
.video ul{display: flex;}
.video ul > li {width:50%}
.video .icon{display: flex;}

.ani-fadeup{transform: translate(0, 100px);}
.ani {opacity: 0; transition: 0.6s all;}
.ani.show{opacity: 1; transform: none;}


#footer{background: #0c161c; position: fixed; z-index: -1; bottom:0; width:100%;}

@keyframes borderAnimation {
    0% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
    }

    33% {
        border-radius: 30% 70% 66% 34% / 37% 36% 64% 63%
    }

    66% {
        border-radius: 37% 63% 62% 38% / 32% 43% 57% 68%
    }

    100% {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%
    }
}